{% extends 'base.htm' %}
{% load static %}


{% block css %}

.bgimg {
background-position: center;
background-size: cover;
background-image: url( "{% static 'images/3.jpg' %}");
min-height: 100%;
}
.new-account{
padding-top:15px;
}
a{
    text-decoration:none;
}
{% endblock css %}


{% block title %}
Registration
{% endblock title %}


{% block body %}
<section class="w3-light-grey">

    <div class="bgimg">
        <div class="w3-row w3-auto">
            <div class="w3-col l4 w3-margin w3-border w3-border-theme w3-white w3-padding-16 w3-card-4">

                {% for message in messages %}
                <div class="w3-panel w3-{{ message.tags }} w3-border w3-display-container ">
                    <span onclick="this.parentElement.style.display='none'"
                        class="w3-btn w3-large w3-display-topright">&times;</span>

                    <p>{{ message }}</p>
                </div>
                {% endfor %}

                <div>
                    <h5 class="w3-text-theme w3-xlarge new-account w3-center">নতুন অ্যাকাউন্ট</h5>
                </div>
                <form action="register" method="POST">{% csrf_token %}
                    <div class="w3-margin w3-padding-small">
                        <label for="name">আপনার নাম</label>
                        <input type="text" class="w3-input w3-border" name="name">
                    </div>
                    <div class="w3-margin w3-padding-small">
                        <label for="name">ইউজার নেইম</label>
                        <input type="text" class="w3-input w3-border" name="username">
                    </div>
                    <div class="w3-margin w3-padding-small">
                        <label class="">ইমেইল</label>
                        <input type="email" class="w3-input w3-border" name="email">
                    </div>


                    <div class="w3-margin w3-padding-small">
                        <label>পাসওয়ার্ড</label>
                        <input type="password" class="w3-input w3-border" name="password"><br>
                    </div>
                    <div class="w3-center">
                        <button type="submit" class="w3-btn w3-theme-d2 w3-margin">শুরু করা যাক</button>
                    </div>
                </form>
                <p class="w3-center">ইতোমধ্যে অ্যাকাউন্ট আছে?<br>
                    <a class="w3-text-them w3-text-blue" href="/accounts/login">প্রবেশ করুন</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock body %}